*{
    margin: auto;
    padding: 0;
}
div.box1{
    height: 60px;
    width: 100%;
    border: 2px solid black;
    background-color: black;
    display: flex;    
}
div.address{
      height: 60px;
      width: 150px;
      background-color: black;
      flex: -1.5;
}
h3{
     color: white;
     margin-top: 15px;
     margin-left: 7px;
    font-size: small; 
}
a{
    text-decoration: none;
}
div.search{
    height: 40px;
    background-color: white;
    width: 40%;
    margin-top: 9px;
    margin-left: 10px;
    border-radius: 5px;
}
div.box2{
    height: 40px;
    width: 100%;
    border: 2px solid black;
    background-color: rgb(23, 23, 49);  
}
.search1{
    height: 40px;
    width: 100%;
    border-radius: 5px;
}
div.lang{
    height: 45px;
    width: 50px;
    margin-top: 6px;
    margin-left: 12px;
}
select{
    height: 45px;
    width: 50px;
    color: white;
    background-color: black;
}
div.signin{
    height: 55px;
    width: 120px;
    background-color: black;
    margin-top: 2px;
    margin-left: 11px;    
}
div.return{
    height: 50px;
    width: 90px;
    background-color: black;
    margin-top: 4px;
}
div.amazonlogo2{
    height: 40px;
    width: 250px;
    background-color: black;
    margin-top: 10px;
    position: relative;
    margin-right: 5px;
}
p{
    position: absolute;
    top:10px;
    left: 70px;
    font-size: large;
    color: white;
}
span{
    color: white;
    margin-left: 60px;    
}
div.details{
    margin-top: 10px;
}
div.animation{
    width: 100%;
    height: 270px;
    overflow: hidden;
}
div>section.animation2{
    width: 7000px;
    height: 270px;
    position: relative;
    animation: myani 13s infinite alternate ease-in-out;
}
section>img{
    width: 1400px;
    height: 400px;
    float: right;
}
@keyframes myani{
    0%{ left: 0px;}
    20%{ left: 0px;}
    25%{ left: -1400px;}
    40%{ left: -1400px;}
    45%{ left: -2800px;}
    60%{ left: -2800px;}
    65%{ left: -4200px;}
    80%{ left: -4200px;}
    85%{ left: -5600px;}
    100%{ left: -5600px;}
}
div.bigdiv{
    height: 700px;
    width: 100%;
    background-color: whitesmoke;
    position: relative;
} 
div.box3{
    height: 400px;
    width: 320px;
    background-color: white;
    position: absolute;
    left: 700px;
    bottom: 20px;
}
div.box4{
    height: 400px;
    width: 320px;
    background-color: white;
    position: absolute;
    left: 360px;
    bottom: 20px;
}
div.box5{
    height: 400px;
    width: 320px;
    background-color: white;
    position: absolute;
    left: 20px;
    bottom: 20px;
}
div.flight{
    left: 10px;
    top: 90px;
    position: absolute;
}
div.train{
    left: 180px;
    top: 90px;
    position: absolute;
}
div.bus{
    left: 10px;
    top: 250px;
    position: absolute;
}
div.beg{
    left: 180px;
    top: 250px;
    position: absolute;
}
h5{
    font-size: small;
    color: black;
}
h2{
    margin-top: 15px;
    margin-left: 15px;
}
div.pharmacy{
    margin-left: 9px;
    margin-top: 5px;
}
div.watch{
    margin-left: 9px;
    margin-top: 10px;
}
div.box6{
    height: 150px;
    width: 290px;
    position: absolute;
    left: 77%;
    top: 279px;
    background-color: white;
}
div.sign{
    position: absolute;
    background-color: yellow;
    border-radius: 10px;
    height: 30px;
    width: 250px;
    margin-top: 20px;
    margin-left: 19px;
}
p1{
    color: black;
    margin-left: 70px;
}
div.box7{
    height: 230px;
    width: 290px;
    position: absolute;
    left: 77%;
    bottom: 20px;
    background-color: white;
}
div.bigdiv1{
    height: 370px;
    width: 100%;
    background-color: whitesmoke;     
}
div.smalldiv1{
    background-color: ghostwhite;
    height: 350px;
    width: 97%;
    position: relative;
}
div.watch2{
     position: absolute;
     left: 20px;
     top: 60px;   
}
div.praise{
    left: 280px;
    top: 60px;
    position: absolute;
}
div.musicbox{
    position: absolute;
    left: 540px;
    top: 60px;
}
div.oppo{
    position: absolute;
    left: 795px;
    top: 60px;
}
div.juicer{
    position: absolute;
    right: 2%;
    top: 60px;
}
p2{
    left: 20px;
    top: 20px;
    font-size: x-large;
    position: absolute;
}
p3{
    position: absolute;
    left: 20px;
    top: 270px;
    color: black;
}
p4{
    position: absolute;
    color: black;
    top: 270px;
    left: 280px;
}
p5{
    position: absolute;
    color: black;
    top: 270px;
    left: 540px;
}
p6{
    position: absolute;
    color: black;
    top: 270px;
    right: 2%;
}
p7{
    position: absolute;
    color: black;
    top: 270px;
    left: 795px;
}
div.off1{
    position: absolute;
    height: 25px;
    width: 95px;
    background-color: red;
    left: 20px;
    top: 290px;
}
div.off2{
    position: absolute;
    height: 25px;
    width: 95px;
    background-color: red;
    left: 280px;
    top: 290px;
}
div.off3{
    position: absolute;
    height: 25px;
    width: 95px;
    background-color: red;
    left: 540px;
    top: 290px;
}
div.off4{
    position: absolute;
    height: 25px;
    width: 95px;
    background-color: red;
    left: 795px;
    top: 310px;
}
div.off5{
    position: absolute;
    height: 25px;
    width: 70px;
    background-color: red;
    left: 80.5%;
    top: 290px;
}
p8{
    position: absolute;
    color: white;
    font-size: small;
    top: 5px;
    left: 9px;
}
p9{
    position: absolute;
    color: white;
    font-size: small;
    top: 5px;
    left: 9px;
}
p10{
    position: absolute;
    color: white;
    font-size: small;
    top: 5px;
    left: 9px;
}
p11{
    position: absolute;
    color: white;
    font-size: small;
    top: 5px;
    left: 9px;
}
p12{
    position: absolute;
    color: white;
    font-size: small;
    top: 5px;
    left: 10px;
}
div.box8{
    height: 430px;
    width: 100%;
    background-color: whitesmoke;
    position: relative;
}
div.box9{
    height: 400px;
    width: 320px;
    background-color: white;
    position: absolute;
    left: 20px;
    bottom: 40px;
}
div.box10{
    height: 400px;
    width: 320px;
    background-color: white;
    position: absolute;
    left: 26%;
    bottom: 40px;
}
div.box11{
    height: 400px;
    width: 320px;
    background-color: white;
    position: absolute;
    left: 50.5%;
    bottom: 40px;
}
div.box12{
    height: 390px;
    width: 320px;
    background-color: white;
    position: absolute;
    left: 75%;
    bottom: 40px;
}
div.box13{
    height: 350px;
    width: 100%;
    background-color: whitesmoke;
}
div.box14{
    height: 300px;
    width: 97.5%;
    position: relative;
    background-color: white;
    top: 5px;
}
p13{
    position: absolute;
    left: 20px;
    top: 17px;
    font-size: x-large;     
}
div.box15{
    position: absolute;
    top: 70px;
    left: 10px;
}
div.box16{
    position: absolute;
    top: 70px;
    left: 200px;
}
div.box17{
    position: absolute;
    top: 70px;
    left: 400px;
}
div.box18{
    position: absolute;
    top: 70px;
    left: 600px;
}
div.box19{
    position: absolute;
    top: 70px;
    left: 800px;
}
div.box20{
    position: absolute;
    top: 70px;
    left: 900px;
}
div.box21{
    position: absolute;
    top: 70px;
    left: 1120px;
}
div.box23{
    height: 150px;
    width: 100%;
    border: 1px solid grey;
    background-color: white;
    margin-top: 30px;
    border-radius: 5px;
    position: relative;
}
p14{
    position: absolute;
    left: 40%;
    top: 50px;
}
div.box24{
    position: absolute;
    background-color: rgb(255, 208, 0);
    height: 40px;
    width: 280px;
    border-radius: 5px;
    left: 38%;
    top: 73px;
}
p15{
    position: absolute;
    color: black;
    left: 110px;
    top: 10px;
}
p16{
    position: absolute;
    font-size: small;
    left: 43%;
    top: 120px;
}
div.box25{
    position: relative;
    height: 50px;
    width: 100%;
    background-color: rgb(13, 13, 61);
}
p17{
    position: absolute;
    color: white;
    font-size: medium;
    left: 46%;
    top: 15px;
}
div.box26{
    width: 100%;
    height: 390px;
    background-color: rgba(1, 1, 27, 0.87);
    position: relative;
} 
h1{
    color: white;
    font-size: medium;
    text-align: center;
}
ol{
    text-align: center;
    float: left;
    padding-right: 40px;
    margin-left: 125px;
    margin-top: 40px;
    font-size: medium;
    color: gainsboro;
}
a{
    color: whitesmoke;
    
}
a.link1{
    color: blue;
}
div.box27{
    height: 200px;
    width: 100%;
    margin-top: 1px;
    background-color: rgba(1, 1, 27, 0.87);
    position: relative;
}
div.bluelogo{
    position: absolute;
    left: 620px;
    top: 40px;
}
div.links{
    position: absolute;
    top: 130px;
}
div.box28{
    height: 110px;
    width: 100%;
    background-color: rgb(18, 8, 43);
    position: relative;
}
p18{
    color: gainsboro;
    position: absolute;
    top: 40px;
    font-size: small;
    left: 530px;
}